@font-face {
  font-family: "Dosis";
  src: local("Dosis"), url(../fonts/Dosis-Medium.ttf) format("truetype");
}

body {
  background-color: #444;
  font-family: "Dosis";
}

.game-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 0px auto;
}

.result-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.player-box {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 40px;
}

.player-box::before {
  width: 100%;
  background-color: #48c;
  color: #fff;
  content: "Turn";
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7rem;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 9px 16px;
}

.player-turn {
  width: 100%;
  height: 2rem;
  background-color: #fff;
  content: attr(player-names);
  font-size: 1.15rem;
  text-align: center;
  line-height: 1.9rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0px;
  padding: 6px 16px;
}

.player-dote {
  width: 10px;
  height: 10px;
  background-color: rgb(4, 233, 4);
  display: block;
  border: 0px;
  border-radius: 100%;
  box-shadow: 0px 0px 7px 3px rgba(4, 233, 4, 0.925);
  margin: 0px 8px 0px 0px;
}

.dice {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1.5em 0.5em -1em rgb(0 0 0 / 4%);
  margin: 18px 24px;
  padding: 5px;
  z-index: 1;
}

.dice::before {
  width: 100%;
  height: 100%;
  content: attr(dice-content);
  font-size: "0.95rem";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dice-image {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin: 0px;
  cursor: pointer;
}

.board {
  position: relative;
  margin: auto;
  padding: 0px;
}

.board-image {
  width: 100%;
  margin: 0px auto;
}

.piece {
  width: 7%;
  height: 7%;
  position: absolute;
  border-radius: 10px;
  transform: rotate(10deg);
}

.alert-modal {
  width: 400px;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-modal::before {
  width: 100%;
  background-color: #48c;
  color: #fff;
  content: "Game Message";
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.7rem;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px 20px;
}

.alert-message {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.9rem;
  white-space: nowrap;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px 20px;
}
