@font-face {
  font-family: "Dosis";
  src: local("Dosis"), url(../fonts/Dosis-Medium.ttf) format("truetype");
}

body {
  background-color: #444;
  font-family: "Dosis";
}

.game-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 0px auto;
}

/* result box and player turn */

.result-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.player-box {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 40px;
}

.player-box::before {
  width: 100%;
  background-color: #48c;
  color: #fff;
  content: "Turn";
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7rem;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 9px 16px;
}

.player-turn {
  width: 100%;
  height: 3rem;
  background-color: #fff;
  content: attr(player-names);
  font-size: 1.15rem;
  line-height: 1.9rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0px;
  padding: 6px 16px;
}

.player-dote {
  width: 10px;
  height: 10px;
  background-color: rgb(4, 233, 4);
  display: none;
  border: 0px;
  border-radius: 100%;
  box-shadow: 0px 0px 7px 3px rgba(4, 233, 4, 0.925);
  margin: 0px 8px 0px 0px;
}

/* dice style */

.dice {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1.5em 0.5em -1em rgb(0 0 0 / 4%);
  margin: 18px 24px;
  padding: 5px;
  z-index: 1;
}

.dice::before {
  width: 100%;
  height: 100%;
  content: attr(dice-content);
  font-size: "0.95rem";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dice-image {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin: 0px;
  cursor: pointer;
}

/* board game */

.board-box {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 0px;
}

.board-table {
  width: 614px;
  height: 614px;
  border: 2px solid transparent;
  border-radius: 5px;
  border-collapse: collapse;
  z-index: 1;
}

.board-table td {
  width: 55px;
  height: 55px;
  text-align: center;
  border: 2px solid transparent;
  padding: 0px;
}

.board-image {
  width: 614px;
  height: 614px;
  position: absolute;
  margin: 0px auto;
}

/* player pieces */

.player-one-piece-high {
  width: 45px;
  height: 45px;
  background-color: rgb(255, 193, 21);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(180, 117, 28);
  border-radius: 10px;
  transform: rotate(10deg);
  margin: 0px auto;
  padding: 0px;
  z-index: 1;
}

.player-one-piece-mid {
  width: 35px;
  height: 35px;
  background-color: rgb(255, 193, 21);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(180, 117, 28);
  border-radius: 8px;
  margin: 0px auto;
  padding: 0px;
}

.player-one-piece-low {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 193, 21);
  border: 2px solid rgb(180, 117, 28);
  border-radius: 3px;
  margin: 0px auto;
  padding: 0px;
}

.player-two-piece-high {
  width: 45px;
  height: 45px;
  background-color: rgb(158, 72, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(82, 47, 36);
  border-radius: 10px;
  transform: rotate(-20deg);
  margin: 0px auto;
  padding: 0px;
}

.player-two-piece-mid {
  width: 35px;
  height: 35px;
  background-color: rgb(158, 72, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(82, 47, 36);
  border-radius: 8px;
  margin: 0px auto;
  padding: 0px;
}

.player-two-piece-low {
  width: 20px;
  height: 20px;
  background-color: rgb(158, 72, 45);
  border: 2px solid rgb(82, 47, 36);
  border-radius: 3px;
  margin: 0px auto;
  padding: 0px;
}

/* alert modal */

.alert-modal {
  width: 400px;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.alert-modal::before {
  width: 100%;
  background-color: #48c;
  color: #fff;
  content: "Game Message";
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.7rem;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px 20px;
}

.alert-message {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.9rem;
  white-space: break-spaces;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px 20px;
}

/* player name */

.prompt-modal {
  width: 400px;
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.prompt-modal::before {
  width: 100%;
  background-color: #48c;
  color: #fff;
  content: "What's your name?";
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.7rem;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px 20px;
}

.player-form {
  width: 100%;
  height: 10rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px 20px;
}

.label-input {
  width: 100%;
  font-size: 1.3rem;
  text-align: left;
  white-space: nowrap;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user-name {
  width: 95%;
  border: 0px solid transparent;
  border-radius: 3px;
  margin: 8px 0px;
  padding: 6px 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.user-name:active,
.user-name:focus {
  border: 0px solid transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4),
    inset 0px 0px 2px rgba(0, 0, 0, 0.4);
  outline: none;
}

#submit {
  background-color: rgb(131, 207, 9);
  font-family: "Dosis";
  font-size: 0.95rem;
  border: 0px;
  border-radius: 4px;
  margin: 5px 0px 0px;
  padding: 3px 15px;
  box-shadow: 0px 0px 3px rgba(131, 207, 9, 0.8);
  cursor: pointer;
}

/* media display */

@media (max-width: 900px) {
  .game-box {
    display: none;
  }
}
